* {
	/*-fx-fill:WHITE; */
	 -fx-font-family: 'Open Sans', sans-serif; 
}

#main {
	/*-fx-background-color: #2b76ef; */
}

#tempbox {
 /* -fx-background-color: linear-gradient(to bottom, #c9ddff 0%, #2b76ef 25%); */
}

#menuBar {
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

#forecast {
	-fx-border-width:0;
}

#hourly {
	-fx-border-width:0;
}

#locationCreate {
	-fx-alignment: CENTER;
	-fx-background-color:#222222;
	-fx-border-color:#fafafa;
	-fx-border-width:2;
	-fx-padding:8;
}

.locationBoxFirst {
	-fx-padding:10;
	-fx-border-color:#fafafa;
	-fx-border-width:2 0 2 0;
	-fx-background-color:transparent;
	-fx-alignment:CENTER_LEFT;
}

.locationBox {
	-fx-padding:10;
	-fx-border-color:#fafafa;
	-fx-border-width:0 0 2 0;
	-fx-background-color:transparent;
	-fx-alignment:CENTER_LEFT;
}

/**
 * Bottom bar
 */
#statusBar {
	-fx-background-color:#222222;
	-fx-alignment: CENTER_LEFT;
	-fx-spacing: 10.0;
	-fx-padding: 0 0 0 2;
}

#optionsBar {
	-fx-background-color:#222222;
	-fx-alignment: CENTER_RIGHT;
	-fx-spacing: 10.0;
}

.bottomButton {
	-fx-alignment: CENTER;
	-fx-fill: white;
	-fx-border-color:#fafafa;
	-fx-border-width:2.0;
	-fx-background-color: transparent;
}

/**
 * Forecast ScrollPane
 */
 
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.forecastList {
	-fx-background: transparent;
	-fx-background-color: transparent;
	-fx-border-color:transparent;
	-fx-border-width: 0;
}

.forecastList .scroll-bar:horizontal .track {
	-fx-background-color:#2b76ef;
	-fx-border-color:transparent;
	-fx-background-radius: 0;
	-fx-border-radius:0.0;
}

.forecastList .scroll-bar:horizontal .increment-button ,
.forecastList .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-padding:0 0 10 0;
}

.forecastList  .scroll-bar .increment-arrow,
.forecastList  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

.forecastList .scroll-bar:horizontal .thumb {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 5.0;
}

.forecastListInterior {
	-fx-alignment: CENTER;
}

.forecastElem {
	-fx-padding: 10.0;
}

/**
 * Hourly chart
 */

.hourlyChart .chart-plot-background {
	-fx-background-color: transparent;
}

.hourlyChart .chart-vertical-grid-lines {
	-fx-stroke: transparent;
}

.hourlyChart .chart-horizontal-grid-lines {
	-fx-stroke: #fafafa;
}

.hourlyChart .chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.hourlyChart .default-color0.chart-series-area-line { -fx-stroke: #fafafa;  -fx-stroke-width: 5;}
.hourlyChart .default-color0.chart-series-area-fill { -fx-fill: rgba(250,250,250,0.6) }

.hourlyChart .axis {
	-fx-tick-label-fill: #fafafa;
}
/**
 * End
 */

.text_important {
	-fx-fill:WHITE;
	-fx-font-size: 80.0;
	-fx-font-weight: 800;
}

.text_basic {
	-fx-fill:WHITE;
	-fx-font-size: 20.0;
	-fx-font-weight: 600;
}

.text_unimportant {
	-fx-fill:WHITE;
	-fx-font-size: 12.0;
	-fx-font-weight: 400;
}

.hbox1 {
	-fx-background-color:#ff7822;
}

.spaced {
	-fx-spacing: 4.0
}

.spaced_big {
	-fx-spacing: 20.0
}

.iconBig {
	-fx-fill:WHITE;
	-fx-font-size: 60.0;
}

.iconMedium {
	-fx-fill:WHITE;
	-fx-font-size: 30.0;
}

.iconSmall {
	-fx-fill:WHITE;
	-fx-font-size: 20.0;
}

.generic-info1 {
	-fx-padding: 0 0 0 0;
	-fx-spacing: 6.0
}

/**
 * Settings
 */
 #settingsMain {
 	-fx-alignment: CENTER;
 	-fx-font-family: 'Open Sans', sans-serif;
 	-fx-padding:100;
 	-fx-spacing:10.0;
 	-fx-background-color:#5d5d5d;
 }